# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/

.vscode/
.vscode

# Disassembly example assets
# Ignore the example folders and archives.
disassembly_graph/
disassembly*/
disassembly*.zip

# OS specific
.DS_Store
Thumbs.db